html, body {
    height: 100%;
}
.main-container{
    overflow: auto;
    /* background-color: rgb(119, 43, 43); */
    height:100%;
}

.content-container{
    margin-top: 50px;
    border: grey solid 3px;
    overflow: auto;
    width: 600px;
    height: 900px;
    background-color: rgb(247, 232, 211);
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-top:30px;
    text-align: center;
    font-family: Bradley Hand;
    font-size: 50px;
}

.level-options-container{
    /* background-color: rgb(135, 177, 222); */
    margin-top: -20px;
    width: 540px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
   
}

p{
    text-align:center;
    margin-top: 0px;
    font-family: Bradley Hand;
    font-size: 20px;
    padding: 7px;
}

.level-label{
    font-family: Bradley Hand;
    font-size: 17px;
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    text-align: center;
    cursor: pointer;
 
}

.options-container{
    overflow: auto;
    
    width: 540px;
    height: 60px;
    /* background-color: rgb(167, 25, 20); */
    margin-left: auto;
    margin-right: auto;
}

.option{
    white-space: pre-wrap;
    height: 50px;
    width: 130px;
    background-color: rgb(224, 230, 230);
    border: black solid 2px;
    border-radius: 10px;
    font-family: Bradley Hand;
    font-size: 18px;
    text-align: center;
    border-radius:  10px 100px / 120px;
    border: black double 3px;

}

.time-container{
    float: left;
    margin-left: 40px;
}

.mines-left-container{
    float: left;
    margin-left: 30px;
}

.Lives-container{
    float: right;
    margin-right: 40px;
}

button{
    height: 60px;
    width: 50px;
    margin-top: 15px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
   
}

.btn1{
    float: left;
    margin-left: 200px;
}

.restart{
    float: left;
    margin-left: 260px;
    border: black solid 3px;
    cursor: pointer;
    border-radius: 5px;
}

.board-container{
    /* background-color: rgb(247, 218, 140); */
    width: 540px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
table{
    background-color:rgb(59, 16, 3);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border:2px solid rgb(70, 65, 65);
}

td {
    border:1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: rgb(232, 117, 97);
    cursor: pointer;
    font-size: 25px;
    font-family: Bradley Hand;
    cursor: pointer;
  }